@model Journal.Models.Vouchers

@{
    ViewBag.Title = "AddItem";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Form</h6>
                <form>

                    <div class="mb-3">
                        <label for="journalVoucher" class="form-label">Voucher</label>
                        <select class="form-select mb-3" aria-label="Default select voucher">
                            <option selected>Open this select menu</option>
                            @foreach (var item in Model.voucher)
                            {
                            <option value=@Html.DisplayFor(modelItem => item.Code)>@Html.DisplayFor(modelItem => item.Name)</option>
                            }


                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="date" class="form-control" id="journalDate"
                               aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="journalPayee" class="form-label">Payee</label>
                        <input type="text" class="form-control" id="journalPayee">
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-info rounded-pill m-2">Add Journal Details</button>
                    </div>




                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Hoverable Table</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>jhon@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mark@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>jacob@email.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
